# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
/TsukiyomiEngine/Release/
/TsukiyomiEngine/Debug/
/TsukiyomiEngine/TsukiyomiEditor/obj/

TsukiyomiEngine/.vs/TsukiyomiEngine/v17/Browse.VC.opendb
